# Trail Cam Monitoring Project

**To Do:**

- Training for checking camera / collecting data
- Participate in checking camera array
- Adopt array
- Analyze data, determine cleaning/processing needs
- Label critters, include in data structure
- EDA
- Features?
- Predictive model?

In [1]:
import requests

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# TODO: Import api key
# key = ""

In [3]:
# !pip install roboflow

# from roboflow import Roboflow
# rf = Roboflow(api_key=key)
# project = rf.workspace("roboflow-100").project("trail-camera")
# dataset = project.version(2).download("yolov4pytorch")

In [4]:
# Data URLs
zoo_data_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/zoo/zoo.data"
zoo_names_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/zoo/zoo.names"

zoo_cols = [
    "name",
    "hair",
    "feathers",
    "eggs",
    "milk",
    "airborne",
    "aquatic",
    "predator",
    "toothed",
    "backbone",
    "breathes",
    "venomous",
    "fins",
    "legs",
    "tail",
    "domestic",
    "catsize",
    "type"
]

In [16]:
# Get and save data
zoo_data = requests.get(zoo_data_url)
with open("zoo.data", mode="w") as file:
    file.write(zoo_data.content.decode('utf-8'))

In [17]:
# Create DataFrame
zoo = pd.read_csv("./zoo.data", header=None)
zoo.columns = zoo_cols
zoo.head()

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1